.container {
  padding-top: 65px;
}

/*
* Homepage
*/
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

body {
  margin: 0;
  min-height: 75rem;
  margin-bottom: 1em;
  width: 100%;
}

.footer {
  margin: 1em;
  text-align: center;
}

.bg-none {
  background: rgba(0, 0, 0, 0.5)
}

.homepage-header {
  margin: 3em 0 0 0;
  padding: 5em 0em 7em 0em;
  background: linear-gradient(rgba(0, 0, 0, 0.616), rgba(0, 0, 0, 0.5)), url("/static/images/SUTD_background.jpg");
  background-position: 20% 15%;
  text-align: center;
}

.homepage-header h1 {
  color: whitesmoke;
  font-weight: lighter;
  font-size: 3em;
  text-shadow: 2px 2px 8px darkslategray;
}

.homepage-action h4 {
  color: whitesmoke;
  text-shadow: 2px 2px 8px darkslategray;
}

.homepage-header p {
  color: whitesmoke;
  text-shadow: 2px 2px 8px darkslategray;
}

.call-for-action {
  display: inline-flex;
  margin-top: 2.5rem;
}

.homepage-action {
  margin-right: 2rem;
  margin-left: 2rem;
  width: 330px;
  height: 220px;
}

.action-title {
  color: whitesmoke;
  font-style: bold;
}

.action-details-container {
  border-bottom: 2px solid whitesmoke;
  background-color: black;
  padding: 1em;
  width: 100%;
  height: 100%;
}

.action-details {
  text-align: left;
  float: left;
  padding-left: 10px;
  color: whitesmoke;
}

/*
* Sign in
*/
.form-signin {
  width: 100%;
  max-width: 330px;
  margin-top: 3em;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  padding: 48px 0 0;
  /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

/* 
* Project Showcase - Individual
*/
.project-card-header {
  padding: 1.5rem 2rem;
  margin-bottom: 0;
  background-color: rgba(153, 151, 151, 0.151);
  box-shadow: 0 -2px 5px 0 rgba(112, 112, 112, 0.2), 0 3px 20px 0 rgba(112, 112, 112, 0.11);
  text-align: left;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.project-button-header {
  float: right;
  margin-left: 5px;
  margin-right: 5px;
}

.project-image-crop img {
  width: 100%;
  height: 600px;
}

.readme {
  width: 95%;
  padding-top: 20px;
  flex-grow: 3;
}

.readme-card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.readme-card-body img {
  max-width: 100%;
  height: auto;
}

.readme-content a {
  color: #182970;
  font-weight: bold;
  text-decoration: underline;
  background-color: transparent;
}

/* .readme-content a:hover {
  color: black;
  text-decoration: underline;
} */

.project-created-by {
  background-color: darkred;
  margin-top: 2rem;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  text-align: left;
  position: relative;
}

.project-created-by h5 {
  color: whitesmoke;
  vertical-align: middle;
  display: inline;
}

.project-member {
  padding: 10px;
  padding-left: 0px;
  display: inline-block;
}

.project-member img {
  max-width: 50px;
}

.project-member-name {
  font-size: 1.2em;
  color: black;
}

.project-tags {
  display: inline;
}

.project-badge-tags {
  border: 1px solid rgba(189, 195, 199, 1);
  color: rgba(189, 195, 199, 1);
  margin: 2px 3px;
}

.project-badge-tags:hover {
  color: #fff;
  background-color: #1a1a1a;
  border: 1px solid black;
}


.poster-thumbnail img {
  box-shadow: 0 0 5px 1px rgba(232, 232, 232, 1);
  border-radius: 4px;
  padding: 5px;
  width: 200px;
}

.poster-enlarge{
  padding: 0.5rem;
}

.poster-enlarge:hover {
  color: black;
}

.poster-thumbnail img:hover {
  box-shadow: 0 0 10px 1px rgba(189, 195, 199, 1);
} 


/* 
* User Profile Page 
*/
.profile-cover-image {
  box-shadow: 0px 4px 5px -2px rgba(212, 212, 212, 1);

}

.profile-cover-image img {
  width: 100%;
  height: 280px;
}

.profile-picture {
  padding: 1rem;
  width: 180px;
}

.profile-description {
  margin-top: 1.5rem;
}

.profile-name {
  margin: 0;
}

.profile-faculty {
  margin-bottom: 50px;
}

.edit-profile {
  margin-top: 2rem;
  position: relative;
  float: right;
}

a.edit-button {
  padding: 0.5rem;
  color: black;
}

a.edit-button:hover {
  color: black;
  text-decoration: underline;
}

.project-card {
  box-shadow: 0px 0px 12px -3px rgba(199, 199, 199, 1);
  ;
}

.project-card img {
  margin-top: 1rem;
  display: block;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}

p.project-card {
  padding: 1rem;
}

.project-card-sm {
  box-shadow: 0px 0px 12px -3px rgba(199, 199, 199, 1);
}

.project-card-sm img {
  margin-top: 1rem;
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-card-sm p {
  padding: 1rem;
  padding-top: 1px;
}

.project-card-sm h4 {
  margin: 1rem;
  margin-top: 1px;
}