{% extends 'base.html' %}
{% block content %}

{% load static %}
{% load bootstrap %}

<div class="container">
    <br>
    <h1>Edit Project Information</h1>

    {% if form.subject.errors %}
    <ol>
        {% for error in form.subject.errors %}
        <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
    </ol>
    {% endif %}

    <form method="post">

        {% csrf_token %}
        {{ form|bootstrap }}
        <input class="btn btn-primary" type="submit" value="Submit">

    </form>

</div>
{% endblock %}