{% extends 'base.html' %}
{% block content %}

{% load static %}

<div class="card mb-3 card-no-border" style="margin: 0 auto; text-align: center; margin-top: 150px;">
    <div class="project-card-header">
        <h1>{{ current_project.title }}</h1>
        <button type="button" class="btn btn-outline-primary project-button-header">Share</button>
        <button type="button" class="btn btn-outline-primary project-button-header">Upvote</button>
    </div>
    <div class="project-image-crop">
        <img style="display: block;" src={{ current_project.featured_image }} alt="Card image">
    </div>
</div>

<div class="row">
    <div class="col-sm" style="flex-grow: 5">
        <div class="card project-readme card-no-border">
            <div class="readme-card-body">
                <p class="lead">PROJECT README</p>
                <p class="card-text text-primary">
                    {{ readme | safe }}
                </p>
                <p>Date Published: {{ current_project.published_date }}</p>
                <p>View more about the project on GitHub at: <a
                        href="{{ current_project.url }}">{{ current_project.url }}</a></p>
            </div>
        </div>
        <br>
        <div class="card poster card-no-border">
            <h3>Poster</h3>
            <div class="poster-thumbnail">
                <a href='{{ current_project.poster_url }}'>
                    <img src='{{ current_project.poster_url }}' alt="Poster">
                </a>
                <br>
                <a href='{{ current_project.poster_url }}' class="btn btn-sm poster-enlarge">Enlarge Poster <i
                        class="fas fa-chevron-circle-right"></i></a>
            </div>
        </div>
        <br>
        <div class="card card-no-border">
            <h3>Comments</h3>
            <div class="form-group">
                <form action="/action_page.php" id="comment-form">
                    <input type="text" class="form-control" placeholder="Write a comment" id="inputDefault">
                    <input type="submit" class="btn btn-sm btn-primary" style="margin-top: 5px; float: right">
                </form>
            </div>
        </div>
    </div>

    <div class="col-sm" style="padding-top: 20px;">
        <div class="project-created-by">
            <h3 style="color:white; font-size:1rem">Created by</h3>
        </div>
        <br>
        {% for user in current_project.users.all %}
        <div class="card project-member card-no-border">
            <div class="row">
                <div class="col-sm-4">
                    <img src='{% static "images/usericon.png" %}' alt="Card image">
                </div>
                <div class="col-sm-8" style="margin: auto">
                    <a href="../../users/{{ user.username }}/"
                        class="card-text project-member-name">{{ user.display_name}}, {{ user.pillar}}</a>
                </div>
            </div>
        </div>
        <br>
        {% endfor %}
        <div class="card project-tags card-no-border">
            <p class="text-primary" style="margin:0; margin-top: 20px">Related Tags:</p>
            {% for tag in current_project.tags.all %}
            <div class="tag">
                <a href="../../projects/search?title=&category=&tags__name={{ tag}}"><span class="badge badge-pill badge-secondary project-badge-tags">{{ tag}}</span></a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}