{% extends 'base.html' %}
{% block content %}

{% load static %}

<h2>Submit New Project</h2>
        <form>
            <fieldset>
                <div class="form-group">
                    <label class="col-form-label" for="inputDefault">Project Name</label>
                    <input type="text" class="form-control" placeholder="Project Name" id="inputDefault">
                </div>
                <div class="form-group">
                    <label for="exampleTextarea">Project Description</label>
                    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="exampleTextarea">Team Members</label>
                    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                </div>
                    
                <div class="form-group">
                    <label class="col-form-label" for="inputDefault">Course/Subject</label>
                    <select class="custom-select">
                        <option selected="">Select one</option>
                        <option value="1">ISTD</option>
                        <option value="2">ASD</option>
                        <option value="3">ESD</option>
                        <option value="4">EPD</option>
                        <option value="5">Fifth Row</option>
                        <option value="6">UROP</option>
                        <option value="7">Self-Initiated</option>
                        <option value="8">Freshmore</option>
                    </select>
                </div>
                    
                <div class="form-group">
                    <label class="col-form-label" for="inputDefault">Project Github Link</label>
                    <input type="text" class="form-control" placeholder="Github Link" id="inputDefault">
                </div>
                <div class="form-group">
                        <label for="exampleInputFile">Project Cover Image</label>
                        <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                        <small id="fileHelp" class="form-text text-muted">Poster should be in high resolution.</small>
                    </div>
                <div class="form-group">
                    <label for="exampleInputFile">Upload Poster</label>
                    <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                    <small id="fileHelp" class="form-text text-muted">Optional. Poster should be in pdf format.</small>
                </div>

                <button type="submit" class="btn btn-primary">Submit for Approval</button>

            </fieldset>

        </form>

{% endblock %}