.project-card-header {
    padding: 1.5rem 2rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    text-align: left;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.project-button-header {
    float: right;
    margin-left: 5px;
    margin-right: 5px;
}

.project-image-crop img {
    width: 100%;
    height: 600px;
}

.readme {
    width: 95%;
    padding-top: 20px;
    flex-grow: 3;
}

.readme-card-body {
    -webkit-box-flex: 1;
       -ms-flex: 1 1 auto;
           flex: 1 1 auto;
}

.project-created-by {
  background-color: darkred;
  display: inline;
  padding: 0.75rem 2rem;
  font-size: 0.5rem;
  margin-left: -10px;
}

.project-member {
  background-color: transparent;
  padding: 10px;
  padding-left: 0px;
  display: inline-block;
}

.project-member img {
  max-width: 50px;
}

.project-member-name {
  font-size: 1.2em;
  color: black;
}

.project-tags {
  display: inline;
}

.project-badge-tags {
  border: 1px solid rgba(189, 195, 199, 1);
  color: rgba(189, 195, 199, 1);
  margin: 2px 3px;
}

.project-badge-tags:hover {
  color: #fff;
  background-color: #1a1a1a;
  border: 1px solid black;
}

.poster-thumbnail img {
  box-shadow: 0 0 5px 1px rgba(232, 232, 232, 1);
  border-radius: 4px;
  padding: 5px;
  width: 200px;
}

.poster-enlarge{
  padding: 0.5rem;
}

.poster-enlarge:hover {
  color: black;
}

.poster-thumbnail img:hover {
  box-shadow: 0 0 10px 1px rgba(189, 195, 199, 1);
}
